.group-29 .image-11 {
  background: url('../img/logo.jpg') 50% / cover no-repeat;
  margin: 0 47px 128px 0;
  width: 183px;
  height: 86px;
}

.group-29 {
  display: flex;
  flex-direction: column;
  width: 1102px;
  box-sizing: border-box;
  margin: 0 auto; 
}

.group-29 .container {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.87);
  margin: 0 94px;
  display: flex;
  align-self: flex-end;
  padding: 12px 0;
  width: 332px;
  box-sizing: border-box;
}

.group-29 .container-1 {
  border-radius: 300px;
  background: rgba(148, 138, 138, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 75px;
  box-sizing: border-box;
}

.group-29 .ol-eu-sou-avic-porto-em-que-posso-ajudar {
  margin: 59px 152px 35px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}

.btcancel {
  border-radius: 300px;
  background: rgba(148, 138, 138, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.group-29 .vector {

  margin: auto;
  width: 30px;
  height: 31px;
}

.group-29 .barra-de-digitar {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 45px;
  width: fit-content;
  box-sizing: border-box;
}

.group-29 .vector-1 {
  width: 47px;
  height: 31px;
}



.group-29 .group {
  width: 37px;
  height: 29px;
}

.group-29 .digite-aqui {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}

.group-29 .oi-bem-vindo-ao-chat-porto-em-que-posso-te-ajudar {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.group-29 .lorem-ipsum-dolor-sit-amet-ceiusmod-tempor {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.group-29 .lorem-ipsum-dolor-sit-amet-ceiusmod-tempor-1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.group-29 .barra-digitar-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.group-29 .container-2 {
  border-radius: 15px;
  background: #C0A554;
  margin: 0 40px 51px 40px;
  display: flex;
  align-self: flex-start;
  padding: 10px 0 3px 2px;
  width: 332px;
  box-sizing: border-box;
}

.group-29 .container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.group-29 .container-4 {
  border-radius: 15px;
  background: #C0A554;
  padding: 6px 28px;
  width: fit-content;
  box-sizing: border-box;
}

.inputchat{
  color: #000000;
  border-radius: 100px;
  border: 1px solid #000000;
  background: rgba(148, 138, 138, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 39px;
  width: 440px;
  box-sizing: border-box;
}

.group-29 .container-6 {
  margin: 0 103px 20px 40px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.bt3{
  border-radius: 300px;
  background: rgba(148, 138, 138, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 75px;
  box-sizing: border-box;
  cursor: pointer;
}

.bt2{
  border-radius: 300px;
  background: rgba(148, 138, 138, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 75px;
  box-sizing: border-box;
  cursor: pointer;
}