
* {
    background-color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}


.navbar {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ffffff;
}


.content {
    padding: 40px 0;
    text-align: center;
}

.content h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.content p {
    color: #ffffff;
    line-height: 1.6;
}


.footer {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}
.imgigor{
    width: 10%; 
    height: 50%; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgb(240, 211, 133);
    transition: transform 0.3s, box-shadow 0.3s; 
   
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgb(243, 213, 132);

}

.imgluis {
    width: 10%; 
    height: 50%; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgb(240, 211, 133); 
    transition: transform 0.3s, box-shadow 0.3s; 
   
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(243, 213, 132);
}
.imgrenan{
    width: 10%; 
    height: 50%; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgb(240, 211, 133); 
    transition: transform 0.3s, box-shadow 0.3s; 
   
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgb(243, 213, 132);

}
.logoimg{

    width: 300px; 
    height: 300px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgb(240, 211, 133); 
    transition: transform 0.3s, box-shadow 0.3s; 
    transform: scale(1.05);  
    box-shadow: 0 8px 16px rgb(243, 213, 132);

}
.repoimg{
  width: 100px;
  height: 100px;

}