.iphone-1415-pro-max-3 .container {
    position: relative;
    margin: 0 8.8px 1.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 511.2px;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 {
    background: #FDFDFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 47px 0 64px 0;
    width: 762px;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .logo-porto {
    background: url('../img/image5.png') 50% / cover no-repeat;
    width: 146px;
    height: 80px;
  }
  .iphone-1415-pro-max-3 .rectangle-51 {
    border-radius: 15px;
    background: rgba(148, 138, 138, 0.14);
    position: absolute;
    top: 111px;
    right: 2px;
    width: 258px;
    height: 57px;
  }
  .iphone-1415-pro-max-3 .linha {
    border: 1px solid #000000;
    background: #000000;
    position: relative;
    margin-bottom: 45px;
    width: 568px;
    height: 1px;
  }
  .iphone-1415-pro-max-3 .base {
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25), inset 2px 4px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: #FDFDFD;
    position: absolute;
    left: 50%;
    top: 25px;
    translate: -50% 0;
    width: 576px;
    height: 939px;
  }
  .iphone-1415-pro-max-3 .rectangle-57 {
    border-radius: 15px;
    background: rgba(148, 138, 138, 0.14);
    position: absolute;
    right: 0px;
    bottom: 105.5px;
    width: 258px;
    height: 57px;
  }
  .iphone-1415-pro-max-3 .ol-eu-sou-avic-porto-em-que-posso-ajudar {
    position: relative;
    margin: 0 24px 70.5px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 32px;
    color: #000000;
  }
  .iphone-1415-pro-max-3 .rectangle-58 {
    border-radius: 15px;
    background: #85D2FD;
    position: absolute;
    left: 0px;
    bottom: 5.5px;
    width: 258px;
    height: 57px;
  }
  .iphone-1415-pro-max-3 .vector {
    width: 36px;
    height: 24px;
  }
  .iphone-1415-pro-max-3 .pepicons-pencilcamera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 28.7px;
    height: 22px;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .group {
    width: 28.7px;
    height: 22px;
  }
  .iphone-1415-pro-max-3 .barra-de-digitar {
    position: relative;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    width: fit-content;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .digite-aqui {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 18px;
    color: #000000;
  }
  .iphone-1415-pro-max-3 .phx {
    margin: 9.2px 0 40.2px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 29.4px;
    height: 30.6px;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .vector-3 {
    width: 29.4px;
    height: 30.6px;
  }
  .iphone-1415-pro-max-3 .lorem-ipsum-dolor-sit-amet-ceiusmod-tempor {
    position: relative;
    margin: 0 2px 41.5px 2px;
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .iphone-1415-pro-max-3 .lorem-ipsum-dolor-sit-amet-ceiusmod-tempor-1 {
    position: relative;
    margin-bottom: 58px;
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .iphone-1415-pro-max-3 .oi-bem-vindo-ao-chat-porto-em-que-posso-te-ajudar {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .iphone-1415-pro-max-3 .lorem-ipsum-dolor-sit-amet-ceiusmod-tempor-2 {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .iphone-1415-pro-max-3 .lorem-ipsum-dolor-sit-amet-ceiusmod-tempor-3 {
    position: relative;
    margin: 0 37px;
    align-self: flex-start;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .iphone-1415-pro-max-3 .chat {
    border-radius: 15px;
    position: relative;
    margin-bottom: 34.5px;
    display: flex;
    flex-direction: column;
    padding-right: 25.3px;
    width: fit-content;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .container-1 {
    border-radius: 300px;
    background: rgba(148, 138, 138, 0.14);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18px 11px 15px 19px;
    width: 66px;
    height: 57px;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .container-2 {
    border-radius: 300px;
    background: rgba(148, 138, 138, 0.14);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17.9px 18.2px 17.1px 19.1px;
    width: 66px;
    height: 57px;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .container-3 {
    border-radius: 15px;
    background: #85D2FD;
    position: relative;
    margin-bottom: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding: 7px 21.8px 4px 25.8px;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .container-4 {
    border-radius: 100px;
    background: rgba(148, 138, 138, 0.14);
    position: relative;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 14px 17.6px;
    width: 338px;
    box-sizing: border-box;
  }
  .iphone-1415-pro-max-3 .container-5 {
    border-radius: 15px;
    background: #85D2FD;
    position: relative;
    margin-bottom: 61px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding: 6px 13.7px 5px 25.7px;
    box-sizing: border-box;
  }