.group-27 .container {
  margin: 0 40px 20px 40px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.group-27 .container-1 {
  border-radius: 15px;
  background: rgba(7, 7, 7, 0.17);
  position: relative;
  margin: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  padding: 11.5px 0 0.5px 0;
  width: 332px;
  box-sizing: border-box;
}
.group-27 .container-2 {
  border-radius: 300px;
  background: rgba(148, 138, 138, 0.14);
  position: relative;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20.4px 0 19.5px 1.2px;
  width: 81.2px;
  height: 65px;
  box-sizing: border-box;
}
.group-27 .ol-eu-sou-avic-porto-em-que-posso-ajudar {
  margin-bottom: 35px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.group-27 .phx {
  margin: 15.2px 0 27.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 29.4px;
  height: 30.6px;
  box-sizing: border-box;
}
.group-27 .vector {
  width: 29.4px;
  height: 30.6px;
}
.group-27 .rectangle-66 {
  border: 1px solid #000000;
  background: #D9D9D9;
  margin-bottom: 8px;
  width: 1040px;
  height: 1px;
}
.group-27 .barra-de-digitar {
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  column-gap: 43px;
  width: fit-content;
  box-sizing: border-box;
}
.group-27 .vector-1 {
  width: 44.3px;
  height: 27.4px;
}
.group-27 .pepicons-pencilcamera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35.3px;
  height: 25.1px;
  box-sizing: border-box;
}
.group-27 .group {
  width: 35.3px;
  height: 25.1px;
}
.group-27 .digite-aqui {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}
.group-27 .oi-bem-vindo-ao-chat-porto-em-que-posso-te-ajudar {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.group-27 .lorem-ipsum-dolor-sit-amet-ceiusmod-tempor {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.group-27 .lorem-ipsum-dolor-sit-amet-ceiusmod-tempor-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.group-27 .barra-digitar-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1040px;
  box-sizing: border-box;
}
.group-27 {
  display: flex;
  flex-direction: column;
  width: 1040px;
  box-sizing: border-box;
}
.group-27 .image-5 {
  background: url('../img/image5.png')50% / cover no-repeat;
  width: 231px;
  height: 73px;
}
.group-27 .container-3 {
  border-radius: 15px;
  background: #85D2FD;
  position: relative;
  margin: 0 40px 62px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 9.5px 0 2.5px 2px;
  width: 332px;
  box-sizing: border-box;
}
.group-27 .container-4 {
  margin: 0 40.8px 0px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 981.2px;
  box-sizing: border-box;
}
.group-27 .container-5 {
  border-radius: 15px;
  background: #85D2FD;
  position: relative;
  margin: 155px 0.3px 0 0;
  padding: 5.5px 27.9px 6.5px 27.9px;
  width: 332px;
  box-sizing: border-box;
}
.group-27 .container-6 {
  border-radius: 100px;
  border: 1px solid #000000;
  background: rgba(148, 138, 138, 0.14);
  position: relative;
  margin-top: 2.3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 17.9px 34px;
  width: 415.6px;
  box-sizing: border-box;
}
.group-27 .container-7 {
  border-radius: 300px;
  background: rgba(148, 138, 138, 0.14);
  position: relative;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20.5px 13.5px 17.1px 13.5px;
  width: 81.2px;
  height: 65px;
  box-sizing: border-box;
}