.pagina-log .vector-4 {
  width: 36px;
  height: 37px;
}
.pagina-log .efetue-seu-login {
  margin-right: 1px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: #837F7F;
}
.pagina-log .email-ou-usurio {
  position: relative;
  margin-bottom: 55px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  color: #837F7F;
}
.pagina-log .senha {
  position: relative;
  margin: 0 0.2px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  color: #837F7F;
}
.pagina-log {
  background: #FDFDFD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 251px 0 293px 0;
  width: 1440px;
  box-sizing: border-box;
}

.pagina-log .seja-bem-vindo {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  color: #00A1FC;
}
.pagina-log .rectangle-47 {
  border-radius: 20px;
  border: 1px solid #000000;
  position: absolute;
  left: 50%;
  top: 19px;
  translate: -50% 0;
  width: 397px;
  height: 46px;
}
.pagina-log .rectangle-48 {
  border-radius: 20px;
  border: 1px solid #000000;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 397px;
  height: 46px;
}
.pagina-log .esqueceu-sua-senha {
  margin-right: 11.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.pagina-log .acessar {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.pagina-log .image-5 {
  background: url('../img/image5.png') 50% / cover no-repeat;
  margin: 0 168.9px 100px 0;
  width: 149.3px;
  height: 80px;
}
.pagina-log .gg-login {
  margin-bottom: 1.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 86.7px;
  height: 42px;
  box-sizing: border-box;
}
.pagina-log .fb-login {
  box-shadow: 5px 1px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  background: #FDFDFD;
  position: relative;
  margin: 0 12.3px 1.1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 0.7px 2px 0;
  width: 86.7px;
  height: 42px;
  box-sizing: border-box;
}
.pagina-log .acess {
  border-radius: 30px;
  background: #00A1FC;
  position: relative;
  margin-right: 12.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7.2px 2.1px 5.9px 0;
  width: 201.9px;
  box-sizing: border-box;
}
.pagina-log .passkeys {
  border-radius: 20px;
  position: relative;
  margin: 0 0 57px 268.3px;
  display: flex;
  flex-direction: column;
  padding: 0 0 45px 18.2px;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-log .group-4 {
  width: 86.7px;
  height: 42px;
}
.pagina-log .container {
  position: relative;
  margin: 0 46.9px 17px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-log .bem-vindo {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.pagina-log .acessar-1 {
  position: relative;
  margin-left: 281px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 399.7px;
  box-sizing: border-box;
}
.pagina-log .container-1 {
  margin-bottom: 12.9px;
  display: flex;
  flex-direction: row;
  width: 399.7px;
  box-sizing: border-box;
}